<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h2>Team Name <%= @team_name %></h2>
    <h3>Coach <%= @coach %></h3>
    <h3>Point_guard <%= @point_guard %></h3>
    <h3>Shooting_guard <%= @shooting_guard %></h3>
    <h3>Small Fwd <%= @small_fwd %></h3>
    <h3>Power Fwd <%= @power_fwd %></h3>
    <h3>Center <%= @center %></h3>
 </body>
</html>


